{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Dashboard{% endblock %}

{% block 'head' %}

{% endblock %}

{% block 'body' %}

<body style="background-color:#fafafa;">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

.font {
  font-size: 15px;
}

.bg-igrowth{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
  
.button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;  
    color:rgb(0, 0, 0);

}

.form_date{
    color:black;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #d1caca;
  position: fixed;
  height: 100%;
  overflow: auto;
  color: white;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fafafa;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 90px;
}

.sidenav a {
    
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color:#000
}

@media screen and (max-height: 120px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.table-wrapper {
    max-height: 500px;
    overflow-y: auto;
}


#name-loja {
    -webkit-appearance: none;
    /* Remove estilo padrão do Chrome */
    -moz-appearance: none;
    /* Remove estilo padrão do FireFox */
    appearance: none;
    /* Remove estilo padrão do FireFox*/
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;
    /* Imagem de fundo (Seta) */
    background-position: 218px center;
    /*Posição da imagem do background*/
    width: 320px;
    /* Tamanho do select, maior que o tamanho da div "div-select" */
    height: 30px;
    /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
    border: 1px solid #ddd;
}

.title-side{

color:rgb(0, 0, 0);
text-align: center;
}


</style>

<style>

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

#logout_sidebar_button {
    position: absolute;
    bottom: 100;
}

</style>

<style>

.logout_button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_logout {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button_logout:hover {
  background-color: #d11818;
  box-shadow: 0px 15px 20px rgba(216, 34, 10, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

#logout_sidebar_button {
    position: absolute;
    bottom: 100;
}

</style>

<style>
    h2.headings {margin-bottom: 20px;}
    .stat-card h3{font-size: 16px; margin-top: 5px; line-height: 20px; padding-right: 45px; color: #333; text-align; left;border-radius: 0.75rem} 
    .stat-card {position: relative; display: inline-block; background-color: rgba(255, 255, 255, 0.959); width: 320px; min-height: 170px; text-align: left; padding: 15px; overflow: hidden;border-radius: 0.75rem}
    .stat-icon {position: absolute;top: 0px;right: 0px;width: 60px;height: 60px;line-height: 60px;text-align: center;border-radius: 0.75rem}
    .stat-icon.right {right: 0px;font-family: Arial, Helvetica, sans-serif;}
    .stat-icon span {position: absolute;z-index: 8;top: -40px; left: 5px; width: 100px;height: 100px; line-height: 120px;border-radius: 0.75rem;}
    .stat-icon i {padding-left: 15px; color: rgb(255, 255, 255); z-index: 9; font-size: 24px;border-radius: 0.75rem}
    .bg-target {background-color: #E07000;}
    .txt-target {color: #E07000;}
    .bg-ontrack {background-color: #007613;}
    .txt-ontrack {color: #007613; font-family: 'Times New Roman', Times, serif;}
    .bg-failing {background-color: #D43E3A;}
    .txt-failing {color: #D43E3A;}
    .bg-measure {background-color: #186EA5;}
    .txt-measure {color: #186EA5;}
    .stat-card h4.stat-num {font-size: 45px; text-align: left;}
    .stat-card .subtext {font-size: 15px;}
    .stat-card .source {font-size: 12px; margin-top: 15px;}
    .stat-card .open-btn {margin-top: 15px;}
</style>

<div class = "container">
    <div id="mySidenav" class="sidenav button1">
        <div class = "title-side">
            <h3>Filtros</h3>
        </div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>      
        
        <div class = "container" >
            <div class="row">
                <form action="" method="POST">

                    {% csrf_token %}
                    <div class="row">
                        <label>Loja</label>
                        <select name="name-loja" id="name-loja">

                            <option disabled='true' selected>---Todas as Lojas---</option>
                            {% for post in item_lista %}
                                <option>{{ post.lojas }}</option>
                            {% endfor %} 
                            
                        </select>
                    </div>
                    <br>
                    <div class="row">
                        <label>Data início: </label>
                        <input name="start_date" type="date" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date start">
                    </div>
                    <br>
                    <div class="row">
                        <label>Data fim: </label>
                        <input name="end_date" type="date" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date start">
                    </div>
                    <br>
                    <div class="row">
                        <div class = "wrap">
                            <button class="button" type="submit">Filtrar</button>
                        </div>
                    </div>
                    
                    <br>

                </form>

                <form action="{% url 'logout' %}" method="post">
                    <div class = "logout_button">
                        {% csrf_token %}
                        <button id = 'logout_sidebar_button' class="button_logout" type="submit">Logout</button>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>

<div class="container">

    <div class="row">
        
        <div class="col-3">
            <span style="font-size:30px;cursor:pointer;color:rgb(0, 0, 0);" onclick="openNav()">&#9776; Menu</span>
        </div>
    
        <div class="col-3">
            <div class="card border-dark mb-3 button1 bg-igrowth" style="width: 40rem;">
                <table style="color:rgb(0, 0, 0);">
                    <tr align = "center">
                    <th style="width: 40%">Restaurante</th>
                    <th style="width: 40%">Data inicial</th>
                    <th style="width: 40%">Data final</th>
                    </tr>
                    <tr align = "center">
                    <td>{{ restaurante_atual }}</td>
                    <td>{{ data_inicial }}</td>
                    <td>{{ data_final }}</td>
                    </tr>
                </table>
            </div>
        </div>
        
    </div>

</div>

<div class = "container">

    <div class = 'row'>
        <div class = 'col-md'>

            <div class="stat-card button1">
                <div class="stat-icon right"><i class="glyphicon glyphicon-home"></i></div>
                <h3>Faturamento diário d-1</h3>
                <h4 class="stat-num"><span class="txt-ontrack">R$ {{card_fat_danterior}}</span></h4>
                <div class="subtext"><i class="glyphicon glyphicon-triangle-top txt-ontrack"></i> Meta: <strong>R$ {{card_meta_danterior}}</strong></div>
                {% if primeiro_digito_gap == digito %}
                <div class="subtext"><i class="glyphicon glyphicon-triangle-top txt-ontrack"></i> Gap: <strong>{{gap_meta_fat_dia_anterior}} </strong><i class="fa fa-arrow-circle-down" style="color:red"></i></div>
                {% else %}
                <div class="subtext"><i class="glyphicon glyphicon-triangle-top txt-ontrack"></i> Gap: <strong>{{gap_meta_fat_dia_anterior}} </strong><i class="fa fa-arrow-circle-up" style="color:green"></i></div>
                {% endif %}
            </div>
            
            <div class="stat-card button1">
                <div class="stat-icon right"><i class="glyphicon glyphicon-home"></i></div>
                <h3>Faturamento mensal</h3>
                <h4 class="stat-num"><span class="txt-ontrack">R$ {{faturamento_card}}</span></h4>
                <div class="subtext"><i class="glyphicon glyphicon-triangle-top txt-ontrack"></i> Meta: <strong>R$ {{meta_fat_bruto}}</strong></div>
                {% if primeiro_digito_gap1 == digito %}
                <div class="subtext"><i class="glyphicon glyphicon-triangle-top txt-ontrack"></i> Gap: <strong>{{gap_meta_fat_mes}} </strong><i class="fa fa-arrow-circle-down" style="color:red"></i></div>
                {% else %}
                <div class="subtext"><i class="glyphicon glyphicon-triangle-top txt-ontrack"></i> Gap: <strong>{{gap_meta_fat_mes}} </strong><i class="fa fa-arrow-circle-up" style="color:green"></i></div>
                {% endif %}
            </div>

            <div class="stat-card button1">
                <div class="stat-icon right"><i class="glyphicon glyphicon-home"></i></div>
                <h3>Ticket médio</h3>
                <h4 class="stat-num"><span class="txt-ontrack">R$ {{ticket_card}}</span></h4>
                <div class="subtext"><i class="glyphicon glyphicon-triangle-top txt-ontrack"></i><strong></strong></div>
            </div>

            <div class="stat-card button1">
                <div class="stat-icon right"><i class="glyphicon glyphicon-home"></i></div>
                <h3>Total de pedidos</h3>
                <h4 class="stat-num"><span class="txt-ontrack">  {{num_pedidos}}</span></h4>
                <div class="subtext"><i class="glyphicon glyphicon-triangle-top txt-ontrack"></i><strong></strong></div>
            </div>

        </div>
    </div>


    <div class = 'row'>
        <div class = 'col-md'>

            <div class="stat-card button1">
                <div class="stat-icon right"><i class="glyphicon glyphicon-home"></i></div>
                <h3>NPS</h3>
                <h4 class="stat-num"><span class="txt-ontrack">  {{nps_card}}</span></h4>
                <div class="subtext"><i class="glyphicon glyphicon-triangle-top txt-ontrack"></i><strong></strong></div>
            </div>

            <div class="stat-card button1">
                <div class="stat-icon right"><i class="glyphicon glyphicon-home"></i></div>
                <h3>Incentivos</h3>
                <h2 class="stat-num"><span class="txt-ontrack">R$ {{incentivo_geral}}</span></h2>
                <div class="subtext"><i class="glyphicon glyphicon-triangle-top txt-ontrack"></i>Loja: R$ <strong>{{incentivo_loja}}</strong></div>
                <div class="subtext"><i class="glyphicon glyphicon-triangle-top txt-ontrack"></i>Ifood: R$ <strong>{{incentivo_ifood}}</strong></div>
            </div>

            <div class="stat-card button1">
                <div class="stat-icon right"><i class="glyphicon glyphicon-home"></i></div>
                <h3>Cancelamentos</h3>
                <h2 class="stat-num"><span class="txt-ontrack">R$ {{cancelamento_total}}</span></h2>
                <div class="subtext"><i class="glyphicon glyphicon-triangle-top txt-ontrack"></i>Loja: R$ <strong>{{canc_restaurante}}</strong></div>
                <div class="subtext"><i class="glyphicon glyphicon-triangle-top txt-ontrack"></i>Cliente: R$ <strong>{{canc_cliente}}</strong></div>
            </div>

            <div class="stat-card button1">
                <div class="stat-icon right"><i class="glyphicon glyphicon-home"></i></div>
                <h3>Taxa efetiva</h3>
                <h2 class="stat-num"><span class="txt-ontrack">{{tx_efetiva_card}}</span></h2>
                <div class="subtext"><i class="glyphicon glyphicon-triangle-top txt-ontrack"></i> Meta: <strong>{{card_meta_tx}}</strong></div>
                {% if primeiro_digito_gap2 == digito %}
                <div class="subtext"><i class="glyphicon glyphicon-triangle-top txt-ontrack"></i> Gap: <strong>{{gap_card_meta_tx}} </strong><i class="fa fa-arrow-circle-up" style="color:green"></i></div>
                {% else %}
                <div class="subtext"><i class="glyphicon glyphicon-triangle-top txt-ontrack"></i> Gap: <strong>{{gap_card_meta_tx}} </strong><i class="fa fa-arrow-circle-down" style="color:red"></i></div>
                {% endif %}
            </div>

        </div>
    </div>



    </div>
</div>

<div class = "container">

        <div class="row">  
            <div class="col-md">
                <div class="card text-white bg-igrowth mb-3 align-items-center button1"
                    <br>
                    <canvas id="faturamento_mensal" width="130" height="50"></canvas>
                </div>        
            </div>
        </div>

        <div class="row">
            <div class="col-md" >
                <div class="card text-white bg-igrowth mb-3 align-items-center button1"
                    <br>
                    <canvas id="faturamento-dia" width="100" height="90"></canvas>
                </div>
            </div>

            <div class="col-md">
                <div class="card text-white bg-igrowth mb-3 align-items-center button1"

                    <br>
                    <canvas id="pedidos_mensal" width="100" height="90"></canvas>
            
                </div>
            </div>

            <div class="col-md">
                <div class="card text-white bg-igrowth mb-3 align-items-center button1"
                    <br>
                    <canvas id="incentivos-mensal" width="100" height="90"></canvas>

                </div>
            </div>
        </div>   

        <div class="row">
            
            <div class="col-md">
                <div class="card text-white bg-igrowth mb-3 align-items-center button1"
                    <br>
                    <canvas id="pedidos-dia" width="100" height="90"></canvas>
                </div>
            </div>
            
            <div class="col-md">
                <div class="card text-white bg-igrowth mb-3 align-items-center button1"
                    <br>
                    <canvas id="cancelamento-mes" width="100" height="90"></canvas>
            
                </div>
            </div>

            <div class="col-md">
                <div class="card text-white bg-igrowth mb-3 align-items-center button1"
                    <br>
                    <canvas id="nps-dia" width="100" height="90"></canvas>
            
                </div>
            </div>

        </div>
</div>

<div class = "container"> 

    <div class="col-md button1" >
    
        <h2>Lista de itens desabilitados</h2>
        <div class = "table-wrapper">
            
            <table class = "table bg-igrowth">
                <tr align = "center">
                    <th>Loja</th>
                    <th>Categoria</th>
                    <th>Produto</th>
                    <th>Data</th>
                </tr>

                {% for item in lista0 %}
                <tr align='center'>
                    <td>{{ item.loja }}</td>
                    <td>{{ item.categoria }}</td>
                    <td>{{ item.produto }}</td>
                    <td>{{ item.data }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div> 
        

    <div class="col-md button1" >
        <h2>Promoções</h2>
            <div class = "table-wrapper bg-igrowth">
                <table class = 'table bg-igrowth'>
                    <tr align = 'center'>
                        <th>Loja</th>
                        <th>Promoção</th>
                        <th>Status</th>
                        <th>Data</th>

                    </tr>

                    {% for item1 in lista1 %}
                    <tr align='center'>
                        <td>{{ item1.loja }}</td>
                        <td>{{ item1.promoção }}</td>
                        <td>{{ item1.status }}</td>
                        <td>{{ item1.data }}</td>
                        
                    </tr>
                    {% endfor %}
                </table>
            </div>
        
    <div class="col-md button1" >
        <h2>Tempo de entrega</h2>
            <table class = 'table bg-igrowth'>
                    <tr align = 'center'>
                        <th>Loja</th>
                        <th>tempo de entrega</th>
                        <th>Data</th>
                        <th>Hora</th>

                    </tr>
                
                    {% for item2 in lista2 %}
                    <tr align='center'>
                        <td>{{ item2.loja }}</td>
                        <td>{{ item2.tempo_de_entrega }}</td>
                        <td>{{ item2.data }}</td>     
                        <td>{{ item2.hora }}</td>                        
                
                    </tr>
                    {% endfor %}
                </div>
            </table>
    </div>

    <div class="col-md button1" >
        <h2>Avaliações</h2>
            <div class = "table-wrapper">
                <table class = 'table bg-igrowth'>
                    <div style="overflow-y: scroll;">
                        <tr align = 'center'>
                            <th>loja</th>
                            <th>status</th>
                            <th>avaliação</th>
                            <th>comentário</th>
                            <th>data</th>

                        </tr>
                    
                        {% for item3 in lista3 %}
                        <tr align='center'>
                            <td>{{ item3.loja }}</td>
                            <td>{{ item3.status }}</td>
                            <td>{{ item3.avaliação }}</td> 
                            <td>{{ item3.comentário }}</td> 
                            <td>{{ item3.data_da_avaliação }}</td>                        
                        
                        </tr>
                        {% endfor %}
                    </div>
                </table>
        </div>
    </div>

    <div class="col-md button1" >
        <h2>Listas</h2>
            <div class = "table-wrapper">
                <table class = 'table bg-igrowth'>
                    <div style="overflow-y: scroll;">
                        <tr align = 'center'>
                            <th>Loja</th>
                            <th>Lista</th>
                            <th>Status</th>
                            <th>Data</th>
                        </tr>
                        {% for item4 in lista4 %}
                        <tr align='center'>
                            <td>{{ item4.loja }}</td>
                            <td>{{ item4.lista }}</td>
                            <td>{{ item4.status }}</td> 
                            <td>{{ item4.data }}</td>                        
                        </tr>
                        {% endfor %}
                    </div>
                </table>
            </div>  
        </div> 
    </div>
</div>

    <footer class="container">
        <br>
        <div class="row">
            <div style="color: white;" class="col-md centralizar">
              CNPJ: 00.000.000/0000-00
            </div>
    
            <div style="color: white;" class="col-md centralizar">
              2022 iGrowth. Todos os direitos reservados.
            </div>
    
            <div style="color: white;" class="col-md centralizar">
              email@email.com.br
            </div>
        </div>
        <br>
    
    </footer>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/js.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0/chartjs-plugin-datalabels.min.js"
integrity="sha512-R/QOHLpV1Ggq22vfDAWYOaMd5RopHrJNMxi8/lJu8Oihwi4Ho4BRFeiMiCefn9rasajKjnx9/fTQ/xkWnkDACg=="
crossorigin="anonymous" referrerpolicy="no-referrer">
</script>

<script>

    var data_data = {{nps_dia_dados|safe}};
    var data_labels = {{nps_dia_labels|safe}};

    let ctx = document.getElementById("nps-dia").getContext("2d");

    let chart = new Chart(ctx, {
    type: "line",
    data: {
        labels: data_labels,
        datasets: [
            {
            label: "Nps por dia",
            backgroundColor: "#79AEC8",
            borderColor: "#329D9C",
            borderWidth: 1,
            data: data_data
            }
        ]
    },
    options: {

        scales: {
                x: {
                    grid:{
                        display:false
                    }
                },
                y: {
                    grid:{
                        display:false
                    }
                }
                },
        
        elements: {
                    point:{
                        radius: 0
                    }
                },
                responsive: true,
                interaction: {
                  mode: 'index',
                  intersect: false,
                },
                lineTension: 0.6,
                plugins: {
                    title: {
                        display: true,
                        text: 'Nps por dia',
                        font: {
                            size: 20
                        }
                    }
                }
            }
    });

</script>

<script>

    var cancelamento_cliente = {{cancelamento_cliente|safe}};
    var cancelamento_loja = {{cancelamento_loja|safe}};
    var labels_cancelamentos = {{labels_cancelamentos|safe}};

    let ctx1 = document.getElementById("cancelamento-mes").getContext("2d");

    let chart1 = new Chart(ctx1, {
    type: "bar",
    data: {
        labels: labels_cancelamentos,
        datasets: [
            {
            label: "Loja",
            backgroundColor: "#329D9C",
            borderColor: "#329D9C",
            data: cancelamento_loja
            },
            {
            label: "Cliente",
            backgroundColor: "#56C596",
            borderColor: "#56C596",
            data: cancelamento_cliente
            }
        ]
    },
    options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Relação de cancelamentos R$',
                        font: {
                            size: 20
                        }
                    }
                },
                responsive: true,
                scales: {
                x: {
                    stacked: true,
                    grid:{
                        display:false
                    }
                },
                y: {
                    stacked: true,
                    grid:{
                        display:false
                    }
                }
                }
            }
    });


</script>

<script>

    var i_loja = {{i_loja|safe}};
    var i_ifood = {{i_ifood|safe}};
    var labels_incentivo = {{labels_incentivo|safe}};

    let ctx3 = document.getElementById("incentivos-mensal").getContext("2d");

    let chart3 = new Chart(ctx3, {
    type: "line",
    data: {
        labels: labels_incentivo,
        datasets: [
            {
            label: "Loja",
            backgroundColor: "#329D9C",
            borderColor: "#329D9C",
            borderWidth: 1,
            data: i_loja,
            },
            {
            label: "Ifood",
            backgroundColor: "#56C596",
            borderColor: "#56C596",
            borderWidth: 1,
            data: i_ifood

            }
        ]
    },
    options: {

        scales: {
                x: {
                    grid:{
                        display:false
                    }
                },
                y: {
                    grid:{
                        display:false
                    }
                }
                },

        elements: {
                    point:{
                        radius: 0
                    }
                },
                responsive: true,
                interaction: {
                  mode: 'index',
                  intersect: false,
                },
                stacked: false,
                plugins: {
                  title: {
                    display: true,
                    text: 'Incentivos mensal',
                    font: {
                        size: 20
                    }
                  }
                },
            }
    });

</script>

<script>

    var fat_bruto = {{fat_bruto|safe}};
    var taxa_efetiva = {{taxa_efetiva|safe}};
    var labels_fat = {{labels_fat|safe}};

    let ctx4 = document.getElementById("faturamento_mensal").getContext("2d");

    let chart4 = new Chart(ctx4, {
    type: "line",
        data: {
            labels: labels_fat,
            datasets: [
            {
            type:'line',
            label: 'taxa efetiva',
            data: taxa_efetiva,
            backgroundColor: "#56C596",
            borderColor: "#56C596",
            yAxisID: 'A',
            borderWidth: 1,
            },   
            {
            type:'bar',
            label: 'Faturamento bruto',
            data: fat_bruto,
            backgroundColor: "#329D9C",
            borderColor: "#329D9C",
            yAxisID: 'B',
            borderWidth: 0.2,
            },
            ]
        },

        options: {
            
                responsive: true,
                interaction: {
                  mode: 'index',
                  intersect: false,
                },
                stacked: false,
                plugins: {
                  title: {
                    display: true,
                    text: 'Fat. bruto x Tx. efetiva',
                    font: {
                        size: 20
                    }
                  }
                },
                scales: {

                    x:{
                        grid:{
                            display: false
                        }

                    },

                  A: {
                    position: 'left',
                    grid: {
                        display: false,
                        drawOnChartArea: false
                    },
                  },
                  B: {
                    position: 'right',
                    grid: {
                        display: false,
                        drawOnChartArea: false
                    },
                  },
                }
            },
    });

</script>

<script>

    var numero_pedidos = {{numero_pedidos|safe}};
    var tm = {{tm|safe}};
    var labels_pedidos_tm = {{labels_pedidos_tm|safe}};

    let ctx5 = document.getElementById("pedidos_mensal").getContext("2d");

    let chart5 = new Chart(ctx5, {
        data: {
            labels: labels_pedidos_tm,
            datasets: [
            {
            type:'line',
            label: 'Ticket médio',
            data: tm,
            backgroundColor: "#56C596",
            borderColor: "#56C596",
            yAxisID: 'A',
            borderWidth: 1
            },
            {
            type:'bar',
            label: 'Pedidos',
            data: numero_pedidos,
            backgroundColor: "#329D9C",
            borderColor: "#329D9C",
            yAxisID: 'B',
            borderWidth: 0.2
            },

            ]
        },

        options: {
            elements: {
                    point:{
                        radius: 0
                    }
                },
                responsive: true,
                interaction: {
                  mode: 'index',
                  intersect: false,
                },
                stacked: false,
                plugins: {
                  title: {
                    display: true,
                    text: 'Pedidos x Ticket médio',
                    font: {
                        size: 20
                    }
                  }
                },
                scales: {

                    x: {
                    grid:{
                        display:false
                        }
                    },

                  A: {
                    type: 'linear',
                    display: false,
                    position: 'left',
                  },
                  B: {
                    type: 'linear',
                    display: false,
                    position: 'right',
            
                    // grid line settings
                    grid: {
                      drawOnChartArea: false, // only want the grid lines for one axis to show up
                    },
                  },
                }
            }
    
    });

</script>

<script>

    var fat_dia1 = {{fat_dia1|safe}};
    var labels_fat_dia = {{labels_fat_dia|safe}};

    let ctx6 = document.getElementById("faturamento-dia").getContext("2d");

    let chart6 = new Chart(ctx6, {
        data: {
            labels: labels_fat_dia,
            datasets: [
            {
            type:'line',
            label: 'Faturamento bruto diário',
            data: fat_dia1,
            backgroundColor: "#56C596",
            borderColor: "#56C596",
            borderWidth: 1
            }
            ]
        },

        options: {

            scales:{
            x:{
                grid:{
                    display: false
                }
            },
            y:{
                grid:{
                    display: false
                }
            }
        
            },
            
            elements: {
                    point:{
                        radius: 0
                    }
                },
                responsive: true,
                interaction: {
                  mode: 'index',
                  intersect: false,
                },
            animations: {
                tension: {
                    duration: 1000,
                    easing: 'linear',
                    from: 1,
                    to: 0,
                    loop: true
                }
                },
                lineTension: 0.6,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Faturamento bruto por dia',
                            font: {
                                size: 20
                            }
                        }
                    }

            
            }
                
    });

</script>

<script>

    var pedido_dia1 = {{pedido_dia1|safe}};
    var labels_pedidos_dia = {{labels_pedidos_dia|safe}};

    let ctx7 = document.getElementById("pedidos-dia").getContext("2d");

    let chart7 = new Chart(ctx7, {
        data: {
            labels: labels_pedidos_dia,
            datasets: [
            {
            type:'line',
            label: 'Pedidos por dia',
            data: pedido_dia1,
            backgroundColor: "#329D9C",
            borderColor: "#329D9C",
            borderWidth: 1
            }
            ]
        },

        options: {
            scales:{
                x:{
                grid:{
                    display: false
                },
            },
                y:{
                    grid:{
                    display: false
                }
                }
                
            },
            elements: {
                    point:{
                        radius: 0
                    }
                },
                responsive: true,
                interaction: {
                  mode: 'index',
                  intersect: false,
                },
                lineTension: 0.6,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Pedidos por dia',
                            font: {
                                size: 20
                            }
                        }
                    }
            }
    });

</script>

<script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "200px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
</script>

{% endblock %}

</body>